<!--<app-router-sidepane>-->
<!--<h1>{{sidepaneEvent}}</h1>-->
<app-routed-sidepane #pane [width]="width" [sidepaneIndex]="sidepaneIndex" [sidepanePosition]="sidepanePosition">
  <div childComponent>

    <input type="text" placeholder="text" (keyup.enter)="onSubmit(input.value)" #input>
    <button type="button" (click)="onClose()">destroy</button>
    <button type="button" (click)="onCreate()">create new</button>
    <br>
    <button type="button" (click)="onBack()">Go back</button>
    <button type="button" (click)="onNavigate(false)">forward</button>
    <button type="button" (click)="onNavigate(true)">short version forward</button>
  </div>
</app-routed-sidepane>

<div class="ui-overlay" *ngIf="o.isActivated"
     [ngStyle]="{
       'z-index':9000+sidepaneIndex
     }">
</div>
<div class="overlay-content"
     [ngStyle]="{
       'z-index':9000+sidepaneIndex
     }"
     [@moveAnim]=stateResult>
  <router-outlet #o="outlet"></router-outlet>
</div>
