<div #sidepaneContainer class="card">
     <!--[ngStyle]="{-->
       <!--'right':sidepanePosition+'px',-->
       <!--'':''-->
     <!--}"-->
     <!--[@transition]>-->
  <!--&lt;!&ndash;[style.right.px]="sidepanePosition"&ndash;&gt;-->
  <!--<div *ngIf="config.data.content">-->
    <!--<h1>{{config.data.content}}</h1>-->
    <!--<p>{{values}}</p>-->
  <!--</div>-->
  <!--<div class="body">-->
    <!--<ng-template #childComponent>-->
    <!--</ng-template>-->
  <!--</div>-->
<ng-content select="[childComponent]">

</ng-content>
</div>
