.card {
  display: grid;
  border: 1px solid;
  max-width: 50vw;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: bisque;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header"
  "body body body"
  "body body body"
  "body body body"
  "body body body"
  "footer footer footer";
  grid-auto-rows: minmax(76px, auto);
  grid-row-gap: 15px;
}

.body {
  grid-area: body;
  border: azure 1px;
}

.footer {
  grid-area: footer;
  border: azure 1px;
}

.header {
  grid-area: header;
  border: azure 1px;
}
