<app-routed-sidepane #pane [width]="width" [sidepaneIndex]="sidepaneIndex" [sidepanePosition]="sidepanePosition">
  <div childComponent>
    <h1>{{sidepaneEvent}}</h1>
    <p>
      add-division works!
    </p>
    <button type="button" (click)="onBack()">Go back</button>
    <button type="button" (click)="onNavigate()">forward</button>
    <button type="button" (click)="onNavigateAnother()">forward another</button>

  </div>
</app-routed-sidepane>

<div class="ui-overlay" *ngIf="o.isActivated"
     [ngStyle]="{
       'z-index':9000+sidepaneIndex
     }">
</div>
<div class="overlay-content"
     [@moveAnim]="stateResult"
     [ngStyle]="{
       'z-index':9000+sidepaneIndex
     }">
  <router-outlet #o="outlet"
  ></router-outlet>
</div>
