<app-routed-sidepane #pane [width]="width" [sidepaneIndex]="sidepaneIndex" [sidepanePosition]="sidepanePosition">
  <div childComponent>
    <h1>{{sidepaneEvent}}</h1>
    <p>
      add-division works!
    </p>
    <button type="button" (click)="onBack()">Go back</button>
    <button type="button" (click)="onNavigate()">forward</button>

  </div>
</app-routed-sidepane>

<div class="overlay-content"
     [@moveAnim]="stateResult">
  <router-outlet #o="outlet"
                 (activate)="onActivate($event)"
  ></router-outlet>
</div>
