<input type="text" placeholder="enter text" #inputComponent>
<br>
<button type="button" (click)="switchState()">Show custom</button>
<br>
<button type="button" (click)="showSidepane()">show Sidepane</button>
<br>
<pre>{{stateResult.value}}</pre>
<div #testOutlet></div>
<div
        class="overlay-content"
        [@moveAnim]="stateResult">

    <!--<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">-->
    <router-outlet #o="outlet" (activate)="onActivate($event,o)"></router-outlet>
</div>
