/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

body {
  font-family: Sans-Serif;
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
.overlay-content{
  position: fixed;
  right: -1000px;
  top: 0px;
  //width: 100%;
  height: 100%;
}
