/* You can add global styles to this file, and also import other style files */
//
body {
  font-family: Sans-Serif;
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
.overlay-content{
  position: fixed;
  right: -1000px;
  top: 0px;
  height: 100%;
}

.ui-overlay{
    background-color: #666666;
    opacity: .50;
    filter:Alpha(Opacity=50);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}
